body, html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Manjari', sans-serif;
}
#home {
	background: url(head.jpg) center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}
.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.landing-text h2 {
	font-weight: 300%;
}

